<!DOCTYPE html>
<html>
<head>
    <title>Add Customer</title>
</head>
<body>
    <header>
        <div class="headDiv">
            <a href="/customers/index">Hem</a>
        </div>
    </header>
    <form method="post" action="/customers/add">
        <label>Company name</label>
        <br />
        <input type="text"  name="CompanyName" />
        <br />
        <label>Adress</label>
        <br />
        <input type="text"  name="Adress" />
        <br />
        <label>Employee count</label>
        <br />
        <input type="text"  name="EmployeeCount" />
        <br />
        @*<label>Id</label>*@
        <br />
        @*<input type="hidden" value="@ViewBag.Customer.Id" name="Id" />
            <br />*@

        <input type="submit" value="Add customer" />
    </form>
</body>
</html>
