<!DOCTYPE html>
<html>
<head>
    <title>Create customer</title>
</head>
<body>
    <form method="post" action="/customers/create">
        <label>Company name</label>
        <br />
        <input type="text" name="CompanyName" />
        <br />
        <label>Adress</label>
        <br />
        <input type="text" name="Adress" />
        <br />
        <label>Employee count</label>
        <br />
        <input type="text" name="EmployeeCount" />
        <br />

        <input type="submit" value="Submit!" />
    </form>




</body>
</html>