<!DOCTYPE html>
<html>
<head>
    <script src="~/MyScript.js"></script>
    <link href="~/MySheet.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <header>
        <a href="/customers/index">Hem</a>
    </header>

    <h1>Customers</h1>
    <ul class="myList">
        @foreach (var item in ViewBag.Customers)
        {
            <li>@item.CompanyName (@item.EmployeeCount)<a href="/customers/edit/@item.Id"><button>Edit</button></a><a href="/customers/delete/@item.Id"><button>Delete</button></a></li>
            
        }



    </ul>

    <a href="/customers/add"><button>Add Contact</button></a>


</body>
</html>
